body {
  font-family: 'Noto Sans', sans-serif;
  white-space: nowrap;
  font-size: 12px;
}

h1 {
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0;
  color: #666;
}

h1::before {
  content: ' ';
  display: inline-block;
  height: 16px;
  width: 20px;
  background: url('../icons/icon16.png') no-repeat;
}

.popup {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto 50px;
}

.popup__label {
  justify-self: start;
}

.popup__value {
  justify-self: center;
}
